<!DOCTYPE html>
<html>
<head>
    
    <title>MangoHacks</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap.js">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
</head>

<body>
<div class="container">
    {{{body}}}
</div>
</body>
</html>