<!DOCTYPE html>
<html>
<head>
    
    <title>MangoHacks</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/js/bootstrap.js">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
</head>

<body>
<div class="container">
    <img class="mlh-logo" src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/black.svg" alt="mlh">
    {{{body}}}
</div>
</body>
</html>