
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="container" id="form">
  <h2 class="page-header" style="margin-left:35%;">Register</h2>

<form method="post" action="/form">
   <div class="form-group">
    <label>name</label>
    <input type="text" class="form-control" placeholder="John Doe" name="name">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="jdoe188@fiu.edu" name="email">
  </div>
     <div class="form-group">
    <label>School</label>
    <input type="school" class="form-control" placeholder="Florida Internation Univeristy" name="school">
  </div>
    <div class="form-group">
    <label>Major</label>
    <input type="text" class="form-control" placeholder="Liberal Arts" name="major">
  </div>
    <div class="form-group">
    <label for="size">Shirt Size</label>
    <select name="size">
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
    <option value="x-large">X-Large</option>    
  </select> 
 <div class="form-group">
    <label>Dietary Restrictions</label>
    <input type="text" class="form-control" placeholder="Nuts" name="diet">
  </div>
   <div class="form-group">
    <label>Resume</label>
    <input type="file" class="form-control" name="resume">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>


  </div>
</form>
</div>