
     
<div class="pill">
    <img src="orange-pill.png" class="orange-pill" alt="">
    <img src="pill-green.png" class="pill-green-1" alt="">    
    <img src="pill-green.png" class="pill-green-3"alt="">
    <img src="red-pill.png" class="pill-red-1" alt="">
    <img src="red-pill.png" class="pill-red-2" alt="">
    <img src="pill-green.png" class="pill-green-2" alt="">
</div>

<div class="container1" >
 <img src="logoDrawing.png" class="logo" alt="">
    <div>
        <h1 id="header">Mango Hacks</h1>
    </div>
<div class="container2">
    <p>MangoHacks is a place for discovery. It is a 36 hour hackathon that encourages learning, 
        collaboration, growth, thinking, and innovation. We will welcome students from Florida 
        and across the country, amazing mentors, and wonderful sponsors to create amazing things. MangoHacks is
         organized by students for students. </p>
 </div>
    <a href="users/form" class="btn btn-primary" id="button-register">Pre Register</a>
</div>