
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<div class="container" id="sponsor">
  <h2 class="page-header" style="margin-left:35%;">Sponsor Signup</h2>

<form method="post" action="/sponsor">
   <div class="form-group">
    <label>Company Name</label>
    <input type="text" class="form-control" placeholder="Capital One" name="name">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="email" class="form-control" placeholder="jdoe188@fiu.edu" name="email">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>


  </div>
</form>
</div>