
body{
    background: linear-gradient(177deg, #ffffff, #ffffff, #dfdfdf);
    overflow: hidden;   
}

.container1{
    height:100vh;
}

.container2{
    
    margin: auto;
    top: 43%;
    position: fixed;
    width: 60%;
    text-align: center;    
    font-size: 25px; 
}

.mlh-logo{
    height:17%;
    right: 1%;
    position: fixed;
}

.logo{
    height: 11%;
    top: 16%;
    position: fixed;
    left: 50%;
}
.pill{
    transform: rotate(20deg);
    
}

.orange-pill{
    top: 20%;
    position: absolute;
    right: 27%;
    transform: rotate(182deg);
}

.pill-green-3{
    top: -27%;
    position: absolute;
    left: 55%;
    z-index: -1;
}

.pill-green-1{
    position:absolute; 
    left:104%; 
    top:29%;
}

.pill-red-1{

}
.pill-red-2{
    
    position: absolute;
    opacity: 0;
}


#button-register{
    margin: auto;
    top: 55%;
    left: 48%;
    width:10%;
    text-align: center;
    position: fixed;
    background-color: #83FFAC;
    border-color: #83FFAC;
    color:#3D3D3D;
}

#header{
    font-family: futura, sans-serif;
    font-size:100px;
    margin: auto;
    top: 30%;
    position: fixed;
    left: 38%;
}

#form{
    top:25%;
    position: absolute; 

}

@media screen and (max-width:1400px){
    body{
        overflow: hidden;
    }
    .logo{
    height: 11%;
    top: 20%;
    position: fixed;
    left: 29%;
    }
    #header{
        font-family: futura, sans-serif;
        font-size: 60px;
        margin: auto;
        top: 32%;
        position: fixed;
        left: 8%;
    }
    .container2{
        margin: auto;
        top: 39%;
        position: fixed;
        width: 85%;
        text-align: center;
        font-size: 18px;
    }
    #button-register{
        margin: auto;
        top: 60%;
        left: 33%;
        width: 25%;
        text-align: center;
        position: fixed;
        background-color: #83FFAC;
        border-color: #83FFAC;
        color: #3D3D3D;
    }
    .orange-pill{
        top: 22%;
        position: absolute;
        right: 65%;
        height: 50%;
        transform: rotate(0deg)
    }
    .pill-green-1{
        position: absolute;
        left: -28%;
        top: 2%;
        height: 23%;
    }
    .pill-green-2{
        opacity: 0;
    }
    .pill-green-3{
        top: 39%;
        position: absolute;
        left: 68%;
        height: 17%;
    }
    .pill-red-1{
        opacity: 0;
    }
    .pill-red-2{
        opacity: 1;
        top: -4%;
        left: 52%;
        height: 38%;
    }
}

